.selectable-area {
    stroke: black;
    cursor: pointer;

    &.selected-area {
        fill: url(#SelectedAreaGradient);
    }
    &:not(.selected-area) {
        fill: white;
    }
}

.svg-container {
    /* max-width: 75%; */
    /* height: auto;
    margin: 0 auto;

    svg,
    .foreign-container {
        max-height: 400px;
        max-width: 600px;
    } */
}

figure {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        display: inline-block;
        /* position: absolute;
        top: 0;
        left: 0; */
    }
}

.circle.active {
    fill: #0a58ca;
    stroke: #0a58ca;
}

.text.active {
    fill: #fff;
    stroke: #fff;
}

@media (max-width: 768px) {
    .svg-container {
        max-width: 100%;
    }
}

.selection-list {
    ::ng-deep {
        .mdc-list-item__content {
            white-space: pre-wrap;
        }
    }
}

.custom-input .button-selection {
    position: absolute;
    width: 25px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.54);
    margin: 0;
    background-color: #fff;
    outline: none;
    z-index: 999;

    &.selected {
        color: #fff;
        background-color: #0a58ca;
        border: 1px solid #0a58ca;
    }
}
