/node_modules
/package-lock.json

/dist
/.angular
/.VSCodeCounter
/.vscode
/README.md


/src/index.html

/custom-webpack.config.js

/src/app/_gen

/src/assets/_gen

/src/test.ts

src/search/webui/angular/src/app/_gen
