/* footer {
    padding: 1rem 0.5rem;
    // color: #486ff1;
    // background-color: #ffffff;
    // font-weight: 500;
    background-color: #f4f3f6;

    p {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 0.5rem;
    }
} */

footer {
    background-color: #036;
    bottom: 0;
    color: #333;
    position: relative;
    width: 100%;
    z-index: 5;
    padding-bottom: 3rem;
}

.section-outer-wrapper {
    background-color: #036;

    .section-inner-wrapper {
        -webkit-transition: padding 0.3s ease;
        -moz-transition: padding 0.3s ease;
        -o-transition: padding 0.3s ease;
        transition: padding 0.3s ease;
        max-width: 1440px;
        margin: 0 auto;
        display: block;
        padding: 0;

        .menu-global-footer {
            margin: 0rem auto;
        }

        .menu-footer-link {
            color: #fff;
            text-decoration: underline;
            padding: 0;
            position: relative;
            text-decoration: none;
            width: 100%;
            font-family: KarbonMedium, Arial, sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            white-space: nowrap;

            &:hover {
                opacity: 0.6;
            }
        }

        .footer-logo {
            border-left: 1px solid #335c85;
            cursor: pointer;

            svg {
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}

.menu {
    border: none;
    list-style: none;
    text-align: left;
}

.copyright-text {
    border-top: 1px solid #335c85;
    font-size: 14px;
    line-height: 21px;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: #fff;
    font-family: KarbonRegular, Arial, sans-serif;
    letter-spacing: 0.01em;
    line-height: 1.5;
    text-align: left;
    clear: both;
    text-align: center;
    margin: 0 auto;
    padding-top: 1rem;
    margin-top: 1rem;
}

.h-6 {
    height: 2rem;
}

@media (max-width: 576px) {
    .section-outer-wrapper {
        .section-inner-wrapper {
            .footer-logo {
                border-left: 0;
            }
        }
    }
}
