<footer>
    <div class="d-flex mb-2">
        <p><a href="https://www.janssenpro.com.au/Privacy-Policy" target="_blank" class="text-decoration-none text-secondary fw-medium border-end border-secondary pe-2">Privacy Policy </a></p>
        <p><a href="https://www.janssenpro.com.au/Legal-Notice" target="_blank" class="text-decoration-none text-secondary fw-medium border-end border-secondary pe-2">Legal Notice </a></p>
        <p><a href="https://www.janssen.com/contact-us" target="_blank" class="text-decoration-none text-secondary fw-medium">Contact Us</a></p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="w-75">© Janssen-Cilag Pty Limited 2022. This website is published by Janssen-Cilag Pty Limited (Janssen-Cilag), which is solely responsible for its content. It is intended for Global healthcare professionals.</p>
      <img alt="Janssen logo" src="./assets/logo.png" />
    </div>
    <!-- <p>&copy; 2023 Johnson & Johnson Services, Inc.</p> -->
</footer>