<footer>
    <div class="d-flex mb-2 lh-base justify-content-center justify-content-md-start">
        <p>
            <a
                href="https://www.janssen.com/privacy-policy"
                target="_blank"
                class="text-decoration-none text-dark fw-medium border-end border-secondary pe-2"
                >Privacy Policy
            </a>
        </p>
        <p>
            <a
                href="https://www.janssen.com/legal-notice"
                target="_blank"
                class="text-decoration-none text-dark fw-medium border-end border-secondary pe-2"
                >Legal Notice
            </a>
        </p>
        <p>
            <a href="https://www.janssen.com/contact-us" target="_blank" class="text-decoration-none text-dark fw-medium">Contact Us</a>
        </p>
    </div>
    <div class="d-flex flex-column align-items-center flex-md-row justify-content-between lh-base">
        <p class="w-100 p-2 pe-md-5 m-0 me-md-5">
            © Janssen-Cilag Pty Limited 2022. This website is published by Janssen-Cilag Pty Limited (Janssen-Cilag), which is solely responsible for
            its content. It is intended for Global healthcare professionals.
        </p>
        <!-- <img alt="Janssen logo" src="./assets/logo.png" /> -->
        <img ngSrc="./assets/logo.png" width="205" height="42" alt="Janssen logo" />
    </div>
    <!-- <p>&copy; 2023 Johnson & Johnson Services, Inc.</p> -->
</footer>
