<div class="stepper h-100">
    <mat-stepper
        (selectionChange)="onStepSelectionChange($event)"
        class="flex-grow-1 w-100 h-100"
        linear="false"
        #stepper
        [selectedIndex]="activeStepIndex"
    >
        <mat-step
            [stepControl]="complaintReportingFormGroup"
            [editable]="!complaintSubmitted"
            [completed]="complaintSubmitted"
            class="w-75 h-100"
            label="Preliminary Information"
        >
            <ng-template matStepContent>
                <app-complaint-reporting [form]="complaintReportingFormGroup" [products]="products"></app-complaint-reporting>
            </ng-template>
        </mat-step>
        <mat-step
            [stepControl]="userDetailsFormGroup"
            [editable]="!complaintSubmitted"
            [completed]="complaintSubmitted"
            class="w-75 h-100"
            label="User Details"
        >
            <ng-template matStepContent>
                <app-user-details
                    [form]="userDetailsFormGroup"
                    [complaintReportingFormGroup]="complaintReportingFormGroup"
                    [products]="products"
                ></app-user-details>
            </ng-template>
        </mat-step>
        <mat-step [editable]="!complaintSubmitted" [completed]="complaintSubmitted" class="w-75 h-100">
            <ng-template matStepLabel>Review</ng-template>
            <ng-template matStepContent>
                <app-review [complaintSubmitted]="complaintSubmitted" [formControls]="formControls"></app-review>
            </ng-template>
        </mat-step>
    </mat-stepper>
</div>
