<div class="stepper h-100">
    <mat-stepper
        (selectionChange)="onStepSelectionChange($event)"
        class="flex-grow-1 w-100 h-100"
        linear="false"
        #stepper
        [selectedIndex]="activeStepIndex"
    >
        <mat-step
            [stepControl]="complaintReportingFormGroup"
            [editable]="!complaintSubmitted"
            [completed]="complaintSubmitted"
            class="w-75 h-100"
            label="Preliminary Information"
        >
            <ng-template matStepContent>
                <app-complaint-reporting [formControl]="complaintReportingFormGroup"></app-complaint-reporting>
            </ng-template>
        </mat-step>
        <mat-step
            [stepControl]="problemDetailsQuestionsFormGroup"
            [editable]="!complaintSubmitted"
            [completed]="complaintSubmitted"
            class="w-75 h-100"
            label="Details"
        >
            <ng-template matStepContent>
                <app-complaint-details
                    [form]="complaintDetailsFormGroup"
                    [products]="products"
                    [problemDetailsQuestions]="problemDetailsQuestions"
                    (nextClicked)="loadQuestions()"
                ></app-complaint-details>
            </ng-template>
        </mat-step>
        <mat-step
            [stepControl]="userDetailsFormGroup"
            [editable]="!complaintSubmitted"
            [completed]="complaintSubmitted"
            class="w-75 h-100"
            label="Contact Information"
        >
            <ng-template matStepContent>
                <app-user-details
                    [formControl]="userDetailsFormGroup"
                    [products]="products"
                    [complaintReportingFormValues]="complaintReportingFormGroup.value!"
                ></app-user-details>
            </ng-template>
        </mat-step>
        <mat-step [editable]="!complaintSubmitted" [completed]="complaintSubmitted" class="w-75 h-100">
            <ng-template matStepLabel>Review</ng-template>
            <ng-template matStepContent>
                <app-review [complaintSubmitted]="complaintSubmitted" [step1FormControls]="step1FormControls"></app-review>
            </ng-template>
        </mat-step>
    </mat-stepper>
</div>
