.selectable-area {
    stroke: black;
    cursor: pointer;

    &.selected-area {
        fill: url(#SelectedAreaGradient);
    }
    &:not(.selected-area) {
        fill: white;
    }
}

.svg-container {
    max-width: 75%;
    height: auto;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .svg-container {
        max-width: 100%;
    }
}
