@import "variables";
@import "fonts";

.mat-toolbar {
    background: $white-color;
    z-index: 998;
    height: 93px;

    &.header-section,
    &.header-section-md {
        a {
            color: $primary-color;
            font-family: "KarbonBold", sans-serif;
            font-size: 1.8rem;

            img {
                width: 50px;
            }
        }

        div.row {
            /* height: 93px; */
        }
    }
}

header {
    height: 93px;
    box-shadow: none;
    background-color: $white-color;
    border-bottom: none;
    box-shadow: 0 0 10px #dddddd !important;
    width: 100%;
    z-index: 1000 !important;
    top: 0;
    position: fixed;

    .logo-wrapper img {
        min-width: 205px;
        max-width: 245px;
    }

    .h-1 {
        height: 1.2rem;
    }
}

.header-section-md {
    display: none;
}

@media (max-width: 767px) {
    header,
    .mat-toolbar {
        height: 120px;
    }

    .header-section-md {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-section {
        display: none;
    }
}

@media (max-width: 576px) {
    .mat-toolbar {
        &.header-section,
        &.header-section-md {
            a {
                font-size: 1.5rem;

                img {
                    width: 40px;
                }
            }
        }
    }
}
