<header>
    <mat-toolbar class="fixed-top centered-container header-section p-0">
        <div class="row w-100 d-flex align-items-center px-4">
            <div class="col text-start">
                <a href="/" class="text-decoration-none ps-2 fw-bolder d-flex align-items-center"
                    ><img alt="Janssen logo" src="./assets/janssen.png" />Connect</a
                >
            </div>
            <div class="col text-center">
                <div class="logo-wrapper flex-grow-1 text-center">
                    <img alt="Janssen logo" src="./assets/logo.png" />
                </div>
            </div>
            <div class="col text-end">
                <div class="d-flex justify-content-end gap-3" *ngIf="locale$ | async as locale">
                    <button
                        mat-button
                        (click)="redirectToLanguageSelectionPage()"
                        matTooltip="Changes to your country will result in data loss"
                        matTooltipPosition="below"
                    >
                        <div class="lh-sm text-end me-2 h-1 primary-color-text font-medium">{{ locale | uppercase }}</div>
                        <div class="d-flex align-items-center h-1 primary-color-text font-medium">
                            change location <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
                        </div>
                    </button>
                    <button mat-raised-button color="primary" class="primary-btn">FAQ</button>
                </div>
            </div>
        </div>
    </mat-toolbar>

    <mat-toolbar class="fixed-top centered-container header-section-md p-0">
        <div class="row w-100 d-flex align-items-start px-4" style="border-bottom: 2px solid #e7e7e7">
            <div class="col text-center">
                <div class="logo-wrapper flex-grow-1 text-center">
                    <img alt="Janssen logo" src="./assets/logo.png" />
                </div>
            </div>
        </div>
        <div class="row w-100 d-flex align-items-center px-4 h-100">
            <div class="col text-start">
                <a [routerLink]="['home']" class="text-decoration-none ps-2 fw-bolder d-flex align-items-center"
                    ><img alt="Janssen logo" src="./assets/janssen.png" />Connect</a
                >
            </div>
            <div class="col text-end">
                <div class="d-flex justify-content-end align-items-center gap-3 h-100" *ngIf="locale$ | async as locale">
                    <button
                        mat-button
                        (click)="redirectToLanguageSelectionPage()"
                        matTooltip="Changes to your country will result in data loss"
                        matTooltipPosition="below"
                    >
                        <div class="lh-sm text-end me-2 h-1 primary-color-text font-medium">{{ locale | uppercase }}</div>
                        <div class="d-flex align-items-center h-1 primary-color-text font-medium">
                            change location <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
                        </div>
                    </button>
                    <button mat-raised-button color="primary" class="primary-btn">FAQ</button>
                </div>
            </div>
        </div>
    </mat-toolbar>
</header>
