<form [formGroup]="formGroup" class="w-100 h-100 d-flex flex-column gap-2">
    <ng-template matStepLabel>Contact Information</ng-template>
    <div class="flex-grow-1 bg-white rounded-3 shadow px-3 px-sm-5 py-3 mt-2">
        <div *ngIf="complaintReportingFormValues?.userType === UserTypes.Patient" class="mt-2">
            <ng-container *ngIf="formGroup.get('patientInformation')">
                <h2 class="primary-text-color font-medium mb-0">PATIENT INFORMATION</h2>

                <div formGroupName="patientInformation">
                    <!-- <div>
                        <mat-form-field class="default-control-width mb-2" appearance="outline">
                            <mat-label>Does J & J have permission to contact you about this report?</mat-label>
                            <mat-select formControlName="permissionToContact">
                                <mat-option *ngFor="let option of permissionToContactValues" [value]="option">{{ option }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->

                    <div class="form-group">
                        <label for="permissionToContact" class="mb-2 fs-6">Does J & J have permission to contact you about this report?</label>
                        <ng-select
                            [selectOnTab]="true"
                            labelForId="permissionToContact"
                            formControlName="permissionToContact"
                            placeholder="Select an option"
                            aria-label="Permission to Contact"
                            class="form-floating"
                            appearance="outline"
                            appendTo="body"
                        >
                            <ng-option *ngFor="let option of permissionToContactValues" [value]="option">{{ option }}</ng-option>
                        </ng-select>
                    </div>

                    <div formGroupName="patient">
                        <app-person-name [formControl]="nameInformationFormGroup"></app-person-name>

                        <app-contact-information controlName="patientInformation.patient.contactInformation"></app-contact-information>

                        <div class="row mb-2">
                            <div class="col-sm-12 col-lg-6">
                                <mat-form-field class="default-control-width mb-2" appearance="outline" shouldLabelFloat="false">
                                    <mat-label>Date of Birth</mat-label>
                                    <input matInput [matDatepicker]="dobPicker" placeholder="Date of Birth" formControlName="dateOfBirth" />

                                    <mat-datepicker-toggle matIconSuffix [for]="dobPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #dobPicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <mat-form-field class="default-control-width mb-2" appearance="outline" shouldLabelFloat="false">
                                    <mat-label>Age at Complaint</mat-label>
                                    <input matInput placeholder="Age at Complaint" formControlName="ageAtComplaint" />
                                </mat-form-field>
                            </div>
                        </div>

                        <div *ngIf="complaintReportingFormValues?.returnOption === 'Yes'">
                            <div class="mb-2">
                                <div>
                                    <label>Is the product available at this address?</label>
                                </div>
                                <mat-radio-group
                                    aria-label="Is the product available at this address?"
                                    color="primary"
                                    formControlName="isProductAvailable"
                                >
                                    <mat-radio-button [value]="true" class="me-2" (change)="onPatientRadioChange($event.value)">Yes</mat-radio-button>
                                    <mat-radio-button [value]="false" (change)="onPatientRadioChange($event.value)">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>

                        <div *ngIf="formGroup.get('patientInformation.patient.isProductAvailable')?.value === false">
                            <h2 class="primary-text-color font-medium mb-0">Please provide the below address details for pickup</h2>

                            <app-contact-information controlName="patientInformation.patient.additionalContactInformation"></app-contact-information>
                        </div>
                    </div>
                    <div
                        *ngIf="
                            complaintReportingFormValues?.userType === UserTypes.Patient ||
                            complaintReportingFormValues?.userType === UserTypes.HealthcareProfessional
                        "
                    >
                        <!-- <mat-form-field class="default-control-width mb-2" appearance="outline">
                            <mat-label>Is the physician or treating HCP aware of the complaint?</mat-label>
                            <mat-select formControlName="awareOfComplaint">
                                <mat-option *ngFor="let option of physicianAwarenessValues" [value]="option">{{ option }}</mat-option>
                            </mat-select>
                        </mat-form-field> -->
                        <div class="form-group">
                            <label for="awareOfComplaint" class="mb-2 fs-6">Is the physician or treating HCP aware of the complaint?</label>
                            <ng-select
                                [selectOnTab]="true"
                                labelForId="awareOfComplaint"
                                formControlName="awareOfComplaint"
                                placeholder="Select an option"
                                aria-label="Aware of Complaint"
                                class="form-floating"
                                appearance="outline"
                                appendTo="body"
                            >
                                <ng-option *ngFor="let option of physicianAwarenessValues" [value]="option">{{ option }}</ng-option>
                            </ng-select>
                        </div>
                    </div>

                    <div>
                        <!-- <mat-form-field class="default-control-width mb-2" appearance="outline">
                            <mat-label>Does J & J have permission to contact your healthcare provider about this report?</mat-label>
                            <mat-select formControlName="permissionToContactHCP">
                                <mat-option *ngFor="let option of permissionToContactHCPValues" [value]="option">{{ option }}</mat-option>
                            </mat-select>
                        </mat-form-field> -->
                        <div class="form-group">
                            <label for="permissionToContactHCP" class="mb-2 fs-6"
                                >Does J & J have permission to contact your healthcare provider about this report?</label
                            >
                            <ng-select
                                [selectOnTab]="true"
                                labelForId="permissionToContactHCP"
                                formControlName="permissionToContactHCP"
                                placeholder="Select an option"
                                aria-label="Permission to Contact HCP"
                                class="form-floating"
                                appearance="outline"
                                appendTo="body"
                            >
                                <ng-option *ngFor="let option of permissionToContactHCPValues" [value]="option">{{ option }}</ng-option>
                            </ng-select>
                        </div>
                    </div>

                    <div formGroupName="hcp" *ngIf="formGroup.get('patientInformation.permissionToContactHCP')?.value === 'Yes'">
                        <p class="secondary-text-color font-medium fs-6 mb-3">Healthcare provider Details</p>
                        <app-person-name controlName="patientInformation.hcp.name"></app-person-name>

                        <app-contact-information controlName="patientInformation.hcp.contactInformation"></app-contact-information>
                    </div>
                </div>
            </ng-container>
        </div>

        <div *ngIf="complaintReportingFormValues?.userType !== UserTypes.Patient && complaintReportingFormValues?.userType !== null" class="mt-2">
            <ng-container *ngIf="formGroup.get('nonPatientInformation')">
                <h2 class="primary-text-color font-medium mb-0">PATIENT AND REPORTER INFORMATION</h2>
                <div formGroupName="nonPatientInformation">
                    <!-- <div>
                        <mat-form-field class="default-control-width mb-2" appearance="outline">
                            <mat-label>Does J&J have permission to contact the reporter?</mat-label>
                            <mat-select formControlName="permissionToContactReporter">
                                <mat-option *ngFor="let option of permissionToContactReporterValues" [value]="option">{{ option }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->
                    <div class="form-group">
                        <label for="permissionToContactReporter" class="mb-2 fs-6">Does J&J have permission to contact the reporter?</label>
                        <ng-select
                            [selectOnTab]="true"
                            labelForId="permissionToContactReporter"
                            formControlName="permissionToContactReporter"
                            placeholder="Select an option"
                            aria-label="Permission to Contact Reporter"
                            class="form-floating"
                            appearance="outline"
                            appendTo="body"
                        >
                            <ng-option *ngFor="let option of permissionToContactReporterValues" [value]="option">{{ option }}</ng-option>
                        </ng-select>
                    </div>
                    <div formGroupName="patient">
                        <p class="secondary-text-color font-medium fs-6">Patient Details</p>
                        <app-person-name controlName="nonPatientInformation.patient.name"></app-person-name>

                        <app-contact-information controlName="nonPatientInformation.patient.contactInformation"></app-contact-information>

                        <div class="row mb-2">
                            <div class="col-sm-12 col-lg-6">
                                <mat-form-field class="default-control-width mb-2" appearance="outline">
                                    <mat-label>Date of Birth</mat-label>
                                    <input matInput [matDatepicker]="dobPicker" formControlName="dateOfBirth" />

                                    <mat-datepicker-toggle matIconSuffix [for]="dobPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #dobPicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <mat-form-field class="default-control-width mb-2" appearance="outline">
                                    <mat-label>Age at Complaint</mat-label>
                                    <input matInput placeholder="Age at Complaint" formControlName="ageAtComplaint" />
                                </mat-form-field>
                            </div>
                        </div>

                        <div *ngIf="complaintReportingFormValues?.returnOption === 'Yes'">
                            <div class="mb-2">
                                <div>
                                    <label>Is the product available at this address?</label>
                                </div>
                                <mat-radio-group
                                    aria-label="Is the product available at this address?"
                                    color="primary"
                                    formControlName="isProductAvailable"
                                >
                                    <mat-radio-button [value]="true" class="me-2" (change)="onNonPatientReporterRadioChange($event.value)"
                                        >Yes</mat-radio-button
                                    >
                                    <mat-radio-button [value]="false" (change)="onNonPatientReporterRadioChange($event.value)">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>

                        <div *ngIf="formGroup.get('nonPatientInformation.patient.isProductAvailable')?.value === false">
                            <h2 class="primary-text-color font-medium mb-0">Please provide the below address details for pickup</h2>
                            <app-contact-information
                                controlName="nonPatientInformation.patient.additionalContactInformation"
                            ></app-contact-information>
                        </div>
                    </div>
                    <div formGroupName="reporter">
                        <p class="secondary-text-color font-medium fs-6">Reporter Details</p>
                        <app-person-name controlName="nonPatientInformation.reporter.name"></app-person-name>

                        <app-contact-information controlName="nonPatientInformation.reporter.contactInformation"></app-contact-information>
                    </div>
                    <div>
                        <mat-form-field class="default-control-width mb-2" appearance="outline">
                            <mat-label>Facility Name</mat-label>
                            <input matInput placeholder="Facility Name" formControlName="facilityName" />
                        </mat-form-field>
                    </div>
                    <!-- <div>
                        <mat-form-field class="default-control-width mb-2" appearance="outline">
                            <mat-label>Did the reporter administer the product?</mat-label>
                            <mat-select formControlName="reporterAdministeredProduct">
                                <mat-option *ngFor="let option of reporterAdministrationValues" [value]="option">{{ option }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->
                    <div class="form-group">
                        <label for="reporterAdministeredProduct" class="mb-2 fs-6">Did the reporter administer the product?</label>
                        <ng-select
                            [selectOnTab]="true"
                            labelForId="reporterAdministeredProduct"
                            formControlName="reporterAdministeredProduct"
                            placeholder="Select an option"
                            aria-label="Did the reporter administer the product?"
                            class="form-floating"
                            appearance="outline"
                            appendTo="body"
                        >
                            <ng-option *ngFor="let option of reporterAdministrationValues" [value]="option">{{ option }}</ng-option>
                        </ng-select>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="mt-4 d-flex justify-content-between w-100">
        <button mat-stroked-button color="secondary" matStepperPrevious><mat-icon>arrow_back</mat-icon> Back</button>
        <button mat-raised-button color="primary" class="primary-btn" matStepperNext [disabled]="!formGroup.valid">
            Continue <mat-icon iconPositionEnd>arrow_forward</mat-icon>
        </button>
    </div>
</form>
