@font-face {
    font-family: "KarbonMedium";
    src: url("/assets/fonts/Karbon-Medium.otf") format("opentype");
}

@font-face {
    font-family: "KarbonBold";
    src: url("/assets/fonts/Karbon-Bold.otf") format("opentype");
}

@font-face {
    font-family: "KarbonLight";
    src: url("/assets/fonts/Karbon-Light.otf") format("opentype");
}

@font-face {
    font-family: "KarbonRegular";
    src: url("/assets/fonts/Karbon-Regular.otf") format("opentype");
}

@font-face {
    font-family: "KarbonRegularItalic";
    src: url("/assets/fonts/Karbon-RegularItalic.otf") format("opentype");
}
