<form class="basic-container w-100 h-100 d-flex flex-column">
    <div class="w-100 h-100 d-flex flex-column language-selector px-3 px-md-5">
        <div class="d-flex flex-column">
            <h2 class="secondary-text-color font-medium mb-0 lh-sm">
                Please use this form to Submit Product Quality complaint' for the below countries only
            </h2>

            <div class="fw-semibold mb-0 text-secondary fs-6 mt-1">
                Modifying the selected country while filling out the form will result in a re-entry of all report information.
            </div>
        </div>
        <hr class="mt-2" />
        <div class="d-flex flex-column locale-section">
            <div class="columns large-2 no-padding-right mobile-no-padding fs-5 d-flex flex-column flex-md-row gap-2 gap-md-5">
                <div *ngFor="let region of regions$ | async" class="d-flex flex-column">
                    <div class="region my-3 secondary-text-color font-medium border-bottom d-inline-block pb-2">{{ region.englishName }}</div>
                    <div class="countrylist">
                        <ul class="list-unstyled">
                            <li *ngFor="let country of region.countries">
                                <p class="country mb-1 secondary-text-color font-medium">{{ country.englishName }}</p>
                                <p class="languages">
                                    <span *ngFor="let language of country.languages" class="me-2">
                                        <a href="{{ language.localeCode }}/home" class="cursor-pointer fw-medium" target="_self">
                                            {{ language.localizedName }}
                                        </a>
                                    </span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
