<!-- <ng-container *ngFor="let product of products; let i = index">
  <label *ngIf="showAllProducts || selectedProductIndex === i">
    <input
      type="radio"
      name="product"
      [value]="product.name"
      formControlName="product"
      (change)="onProductSelectionChange(i)"
      class="mb-2"
    />
    <div
      class="product-section d-flex flex-column align-items-center justify-content-center rounded-3"
    >
      <div class="image-section">
        <img
          class="position-relative"
          [ngSrc]="product.imagePath"
          fill
          [alt]="product.name"
        />
      </div>
      <div class="image-caption fw-semibold w-100 py-2 text-center">
        {{ product.name }}
      </div>
    </div>
  </label>
</ng-container>

<ng-container *ngFor="let product of products">
  <div
    class="d-flex flex-column mx-0 mx-md-2 my-2"
    *ngIf="complaintReportingFormGroup.controls.product.value === product.name"
  >
    <div
      class="filter-section d-flex flex-column gap-3"
      *ngIf="complaintReportingFormGroup.controls.product.value === 'Unknown'"
    >
      <div class="d-flex align-items-center gap-3">
        <h3 class="fw-semibold mb-0 lh-base fs-6 text-secondary-emphasis">
          Filter:
        </h3>
        <div class="d-flex flex-wrap gap-2">
          <button
            *ngFor="
              let letter of [
                'A-C',
                'D-F',
                'G-I',
                'J-L',
                'M-O',
                'P-R',
                'S-U',
                'V-Z'
              ]
            "
            mat-stroked-button
            color="secondary"
            (click)="filterbrands(letter, product.name)"
            [class.active]="selectedBrand === letter"
          >
            {{ letter }}
          </button>
        </div>
      </div>

      <div
        class="d-flex flex-wrap gap-4 justify-content-between justify-content-md-start mx-2 my-2 align-items-end"
      >
        <ng-container *ngIf="filteredBrands.length > 0; else noBrands">
          <label *ngFor="let brand of filteredBrands">
            <input
              type="radio"
              name="brand"
              [value]="brand.name"
              formControlName="brand"
              (change)="onBrandSelectionChange(brand.name)"
              class="mb-2"
            />
            <div
              class="product-section d-flex flex-column align-items-center justify-content-center rounded-3"
            >
              <div class="image-section">
                <img
                  class="position-relative"
                  [ngSrc]="brand.imagePath"
                  fill
                  [alt]="brand.name"
                />
              </div>
            </div>
          </label>
        </ng-container>
        <ng-template #noBrands>
          <h3 class="fw-normal mb-0">No brands associated with this filter.</h3>
        </ng-template>
      </div>
    </div>
    <div
      class="d-flex flex-wrap gap-4 justify-content-between justify-content-md-start mx-2 my-2 align-items-end"
    >
      <ng-container
        *ngIf="complaintReportingFormGroup.controls.product.value !== 'Unknown'"
      >
        <label *ngFor="let brand of product.brands">
          <input
            type="radio"
            name="brand"
            [value]="brand.name"
            formControlName="brand"
            (change)="onBrandSelectionChange(brand.name)"
            class="mb-2"
          />
          <div
            class="product-section d-flex flex-column align-items-center justify-content-center rounded-3"
          >
            <div class="image-section">
              <img
                class="position-relative"
                [ngSrc]="brand.imagePath"
                fill
                [alt]="brand.name"
              />
            </div>
          </div>
        </label>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-container *ngFor="let product of filteredProducts; let i = index">
  <label>
    <input
      type="radio"
      name="product"
      [value]="product.name"
      formControlName="product"
      (change)="onProductSelectionChange(i)"
      class="mb-2"
    />
    <div
      class="product-section d-flex flex-column align-items-center justify-content-center rounded-3"
    >
      <div class="image-section">
        <img
          class="position-relative"
          [ngSrc]="product.imagePath"
          fill
          [alt]="product.name"
        />
      </div>
      <div class="image-caption fw-semibold w-100 py-2 text-center">
        {{ product.name }}
      </div>
    </div>
  </label>
</ng-container>

<app-image-selector
  [products]="products"
  [showAllProducts]="showAllProducts"
  [selectedProductIndex]="selectedProductIndex"
  [formControlName]="'product'"
></app-image-selector>

<app-image-selector
  [products]="products"
  [productValue]="complaintReportingFormGroup.controls.product.value"
  [filteredBrands]="filteredBrands"
  [selectedBrand]="selectedBrand"
  [formControlName]="'brand'"
  >></app-image-selector
>

<app-image-selector
  [products]="products"
  [formControlName]="'product'"
></app-image-selector> -->
