<form [formGroup]="form" class="w-100 h-100 d-flex flex-column gap-2">
    <ng-template matStepLabel>Details</ng-template>

    <div class="flex-grow-1 bg-white rounded-3 shadow px-3 px-sm-5 py-3">
        <div class="float-end">
            <button mat-stroked-button color="warn" (click)="resetProblemDetails()"><mat-icon iconPositionEnd>clear</mat-icon> Reset</button>
        </div>
        <div class="mt-1 mb-2">
            <!-- <p class="lh-base">Which part of the product you want to report the complaint for?</p> -->
            <p class="lh-base fs-6">Select the product image and part of the image you want to report the complaint for?</p>

            <mat-chip-listbox aria-label="Product image selection">
                <ng-container *ngFor="let question of imageHotspotValues">
                    <mat-chip-option
                        [value]="question.questionText"
                        (selectionChange)="onProductImageChange(question)"
                        [selected]="question === selectedProduct"
                        >{{ question.questionText }}</mat-chip-option
                    >
                </ng-container>
            </mat-chip-listbox>

            <!-- <pre>{{ problemDetailsQuestions | json }}</pre> -->

            <ng-container *ngIf="selectedProduct">
                <div *ngFor="let question of imageHotspotValues">
                    <ng-container *ngIf="question === selectedProduct">
                        <ng-container *ngIf="question.type === 'image-map'">
                            <app-image-hotspot
                                [imageSrc]="question.imageUrl"
                                [areas]="question.areas"
                                (selectedValuesChange)="onSelectedValuesChange($event)"
                            ></app-image-hotspot>
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>
        </div>

        <!-- <form [formGroup]="form">
            <app-complaint-description [form]="form"></app-complaint-description>
        </form> -->

        <div class="mb-1 mt-3">
            <mat-form-field class="default-control-width mb-2" appearance="outline">
                <mat-label>Describe your issue</mat-label>
                <mat-hint>Please include any details that may be relevant</mat-hint>
                <textarea matInput placeholder="Describe your issue" formControlName="issueDescription"></textarea>
            </mat-form-field>
        </div>

        <div class="mb-1">
            <app-image-upload formControlName="uploadImage" text="Upload images (optional)"></app-image-upload>
        </div>

        <div *ngFor="let question of problemDetailsQuestions">
            <ng-container *ngIf="question.type === 'multiple-choice'">
                <!-- <mat-form-field class="w-100">
                    <mat-label>{{ question.questionText }}</mat-label>
                    <mat-select [formControlName]="question.id">
                        <mat-option *ngFor="let opt of question.options" [value]="opt.name">{{ opt.name }}</mat-option>
                    </mat-select>
                </mat-form-field> -->
                <div class="form-group mt-3">
                    <label [for]="question.id" class="mb-2 fs-6">{{ question.questionText }}</label>
                    <ng-select
                        [selectOnTab]="true"
                        [labelForId]="question.id"
                        placeholder="Select an option"
                        [attr.aria-label]="question.questionText"
                        class="form-floating"
                        appearance="outline"
                        appendTo="body"
                    >
                        <ng-option *ngFor="let opt of question.options" [value]="opt.name">{{ opt.name }}</ng-option>
                    </ng-select>
                </div>
            </ng-container>
        </div>

        <!-- <div *ngIf="form.controls.done.value">
            <h3>That's all we need to know for now.</h3>

            <mat-form-field class="w-100">
                <mat-label>If needed, would it be okay for us to follow up with further questions later?</mat-label>
                <mat-select formControlName="followUpOkay">
                    <mat-option value="Yes">Yes</mat-option>
                    <mat-option value="No">No</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

        <div class="mt-4 d-flex justify-content-evenly w-100">
            <button mat-stroked-button color="secondary" (click)="previousQuestion()" [disabled]="currentIndex === 0">
                <mat-icon>arrow_back</mat-icon> Previous
            </button>
            <button mat-raised-button color="primary" class="primary-btn" (click)="nextQuestion()">
                Next <mat-icon iconPositionEnd>arrow_forward</mat-icon>
            </button>
            <!-- <button mat-raised-button color="primary" class="primary-btn" (click)="nextQuestion()" [disabled]="isLastQuestion() || !form.valid">
                Next <mat-icon iconPositionEnd>arrow_forward</mat-icon>
            </button> -->
            <!-- <button mat-raised-button color="primary" class="primary-btn" *ngIf="isLastQuestion()" (click)="submitAnswers()">
                Submit <mat-icon iconPositionEnd>done</mat-icon>
            </button> -->
        </div>
    </div>

    <div class="mt-4 d-flex justify-content-between w-100">
        <button mat-stroked-button color="secondary" matStepperPrevious><mat-icon>arrow_back</mat-icon> Back</button>
        <button mat-raised-button color="primary" class="primary-btn" matStepperNext [disabled]="true">
            Continue <mat-icon iconPositionEnd>arrow_forward</mat-icon>
        </button>
    </div>
</form>
