<form [formGroup]="formGroup" class="w-100 h-100 d-flex flex-column gap-2">
    <ng-template matStepLabel>Preliminary Information</ng-template>

    <div class="flex-grow-1 bg-white rounded-3 shadow px-3 px-sm-5 py-3">
        <div class="mb-2">
            <p class="mb-1 text-wrap-balance">
                The information you provide will be processed for the purpose managing your complaint and to address our legal obligations to ensure
                the safety and quality of our products. Information you provide may be shared with other J&J affiliates, external service providers
                and health authorities, as necessary, to fulfill these obligations. It may also be shared with other companies where your information
                refers to a medicinal product, which is now owned by us. Such a company is required to process your information to the extent
                necessary to comply with its legal obligations related to quality and safety.
            </p>
            <p class="mb-1">
                If you provide personal information that concerns other individuals, you represent that you have the necessary permissions and
                consents to do so.
            </p>
            <p>
                Further, information about our practices processing personal information, can be found in our
                <a [href]="privacyPolicy" target="_blank">privacy policy</a>
            </p>
        </div>

        <div>
            <h2 class="primary-text-color font-medium mb-0">{{ "USER_TYPE_HEADER_TEXT" | translate }}</h2>
            <mat-chip-listbox aria-label="User role selection" formControlName="userType">
                <ng-container *ngFor="let userType of userTypeValues">
                    <mat-chip-option [value]="userType" (selectionChange)="onUserTypeChange(userType)">{{ userType }}</mat-chip-option>
                </ng-container>
            </mat-chip-listbox>
        </div>

        <div
            *ngIf="!formGroup.controls.userType.value"
            class="d-flex align-items-center justify-content-center p-2 border rounded-3 min-height-300 empty-selection"
        >
            <h2>There has been no selection of role.</h2>
        </div>

        <ng-container *ngIf="formGroup.controls.userType.value">
            <div class="mt-3">
                <div class="form-group">
                    <label for="purchasedCountry" class="mb-2 fs-6">Which country the product was purchased in?</label>
                    <ng-select
                        [selectOnTab]="true"
                        labelForId="purchasedCountry"
                        formControlName="purchasedCountry"
                        placeholder="Select Country"
                        aria-label="Country"
                        class="form-floating"
                        appearance="outline"
                        appendTo="body"
                    >
                        <ng-option *ngFor="let country of countriesList$ | async" [value]="country">{{ country }}</ng-option>
                    </ng-select>
                </div>
            </div>

            <app-brand-form-grid-selector formControlName="brandAndForm"></app-brand-form-grid-selector>
        </ng-container>

        <div class="my-3" *ngIf="hasSelectedBrandAndForm$ | async" #strengthSection>
            <div class="mt-3">
                <div class="form-group">
                    <label for="strength" class="mb-2 fs-6">Please select a strength for which you want to report an event?</label>
                    <ng-select
                        [selectOnTab]="true"
                        labelForId="strength"
                        formControlName="strengthId"
                        placeholder="Select strength"
                        aria-label="Strength"
                        class="form-floating"
                        appearance="outline"
                        appendTo="body"
                        [loading]="loadingSelectedProductStrengths"
                    >
                        <ng-option *ngFor="let strength of selectedProductStrengths$ | async" [value]="strength.id">{{ strength.name }}</ng-option>
                    </ng-select>
                </div>
            </div>

            <div class="mb-0">
                <!-- <mat-form-field class="default-control-width" appearance="outline">
                    <mat-label>Can you return the product back to us (Field product return pre-paid kit will be provided)</mat-label>

                    <mat-select formControlName="returnOption">
                        <mat-option *ngFor="let option of returnOptionValues" [value]="option">{{ option }}</mat-option>
                    </mat-select>
                </mat-form-field> -->

                <div class="form-group">
                    <label for="returnOption" class="mb-2 fs-6"
                        >Can you return the product back to us (Field product return pre-paid kit will be provided)</label
                    >
                    <ng-select
                        [selectOnTab]="true"
                        labelForId="returnOption"
                        formControlName="returnOption"
                        placeholder="Select an option"
                        aria-label="Can you return the product back to us"
                        class="form-floating"
                        appearance="outline"
                        appendTo="body"
                    >
                        <ng-option *ngFor="let option of returnOptionValues" [value]="option">{{ option }}</ng-option>
                    </ng-select>
                </div>
            </div>

            <div class="mb-2">
                <div class="d-flex align-items-center">
                    <label class="fs-6">Do you know the Batch/Lot Number</label>
                    <button
                        mat-icon-button
                        matSuffix
                        (click)="showLotNumberHelp()"
                        [attr.aria-label]="'Help finding this'"
                        style="width: 30px; height: 30px; padding: 0 10px"
                    >
                        <mat-icon>help</mat-icon>
                    </button>
                </div>
                <mat-radio-group aria-label="Do you know the Batch or Lot Number" color="primary" formControlName="hasBatchOrLotNumber">
                    <mat-radio-button [value]="true" class="me-2" (change)="handleBatchLotNumberChange($event.value)">Yes</mat-radio-button>
                    <mat-radio-button [value]="false" (change)="handleBatchLotNumberChange($event.value)">No</mat-radio-button>
                </mat-radio-group>
            </div>

            <div *ngIf="formGroup.controls.hasBatchOrLotNumber.value === true" class="mt-3">
                <mat-form-field class="default-control-width" appearance="outline">
                    <mat-label>Please enter Batch/Lot Number</mat-label>
                    <input matInput placeholder="Please enter Batch/Lot Number" formControlName="batchOrLotNumber" />
                </mat-form-field>
            </div>

            <div *ngIf="formGroup.controls.hasBatchOrLotNumber.value === false">
                <div class="mt-3">
                    <!-- <mat-form-field class="default-control-width" appearance="outline">
                        <mat-label>Reason for not providing batch/lot number</mat-label>
                        <input matInput placeholder="Reason for not providing batch/lot number" formControlName="noReason" />
                    </mat-form-field> -->
                    <div class="form-group">
                        <label for="batchOrLotNumberUnavailableReason" class="fs-6">Reason for not providing batch/lot number</label>
                        <ng-select
                            [selectOnTab]="true"
                            labelForId="batchOrLotNumberUnavailableReason"
                            formControlName="batchOrLotNumberUnavailableReason"
                            placeholder="Select reason"
                            aria-label="Reason"
                            class="form-floating"
                            appearance="outline"
                            appendTo="body"
                            class="pb-0"
                        >
                            <ng-option *ngFor="let option of batchOrLotNumberUnavailableReasonValues" [value]="option">{{ option }}</ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>

            <div class="row mb-2 mt-4">
                <div class="col-sm-12 col-lg-6">
                    <mat-form-field class="default-control-width mb-2" appearance="outline">
                        <mat-label>GTIN #</mat-label>
                        <input matInput placeholder="GTIN #" formControlName="gtin" />
                    </mat-form-field>
                </div>

                <div class="col-sm-12 col-lg-6">
                    <mat-form-field class="default-control-width mb-2" appearance="outline">
                        <mat-label>Serial #</mat-label>
                        <input matInput placeholder="Serial #" formControlName="serial" />
                    </mat-form-field>
                </div>
            </div>

            <div formGroupName="hcp" class="mt-1" *ngIf="formGroup.controls.userType.value === UserTypes.HealthcareProfessional">
                <div>
                    <div class="form-group">
                        <label for="reportedFromJNJProgram" class="mb-2 fs-6">Was this complaint reported from a J&J program?</label>
                        <ng-select
                            [selectOnTab]="true"
                            labelForId="reportedFromJNJProgram"
                            formControlName="reportedFromJNJProgram"
                            placeholder="Select an option"
                            aria-label="Reported From JNJ Program"
                            class="form-floating"
                            appearance="outline"
                            appendTo="body"
                        >
                            <ng-option [value]="true">Yes</ng-option>
                            <ng-option [value]="false">No</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="row mb-2" *ngIf="formGroup.controls.hcp.controls.reportedFromJNJProgram.value === true">
                    <div class="col-sm-12 col-lg-4">
                        <mat-form-field class="default-control-width" appearance="outline">
                            <mat-label>Study Program</mat-label>
                            <input matInput placeholder="Study Program" formControlName="studyProgram" />
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <mat-form-field class="default-control-width" appearance="outline">
                            <mat-label>Site Number</mat-label>
                            <input matInput placeholder="Site Number" formControlName="siteNumber" />
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <mat-form-field class="default-control-width" appearance="outline">
                            <mat-label>Subject Number</mat-label>
                            <input matInput placeholder="Subject Number" formControlName="subjectNumber" />
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <!-- <div class="mt-1 mb-2">
                <p class="lh-base fs-6">Select the product image and part of the image you want to report the complaint for?</p>

                <mat-chip-listbox aria-label="Product image selection">
                    <ng-container *ngFor="let question of imageHotspotValues">
                        <mat-chip-option
                            [value]="question.questionText"
                            (selectionChange)="onProductImageChange(question)"
                            [selected]="question === selectedProduct"
                            >{{ question.questionText }}</mat-chip-option
                        >
                    </ng-container>
                </mat-chip-listbox>

                <ng-container *ngIf="selectedProduct">
                    <div *ngFor="let question of imageHotspotValues">
                        <ng-container *ngIf="question === selectedProduct">
                            <ng-container *ngIf="question.type === 'image-map'">
                                <app-image-hotspot [imageSrc]="question.imageUrl" [areas]="question.areas"></app-image-hotspot>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>
            </div>

            <div class="mb-1 mt-3">
                <mat-form-field class="default-control-width mb-2" appearance="outline">
                    <mat-label>Describe your issue</mat-label>
                    <mat-hint>Please include any details that may be relevant</mat-hint>
                    <textarea matInput placeholder="Describe your issue" formControlName="issueDescription"></textarea>
                </mat-form-field>
            </div>

            <div class="mb-1">
                <app-image-upload formControlName="uploadImage" text="Upload images (optional)"></app-image-upload>
            </div> -->
        </div>
    </div>

    <div class="mt-4 d-flex justify-content-end w-100">
        <button mat-raised-button color="primary" class="primary-btn" matStepperNext [disabled]="!formGroup.valid">
            Continue <mat-icon iconPositionEnd>arrow_forward</mat-icon>
        </button>
    </div>
</form>
