@import "variables";

.default-control-width {
    width: 100%;

    ::ng-deep {
        .mat-mdc-form-field-hint-wrapper {
            padding: 0;
        }
    }
}

.empty-selection {
    color: #6c757d;
    margin: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.min-height-300 {
    min-height: 300px;
}

.chip-options-sections {
    [type="radio"] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    [type="radio"] + img {
        width: 200px;
        height: 150px;
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        cursor: pointer;
    }

    [type="radio"]:checked + img {
        outline: 3px solid $primary-color;
        box-shadow: $primary-color 0px 3px 8px;
    }
}

@media screen and (min-width: 800px) {
    form mat-form-field + mat-form-field {
        margin-left: 8px;
    }
}

@media (max-width: 992px) {
    .empty-selection {
        margin: 0;
        margin-top: 1rem;
        h2 {
            padding: 1rem;
        }
    }
}
